<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_whatnow"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Whatnow"
        tools:targetApi="31">
        <activity
            android:name=".ui.splashlogin.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Whatnow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.history.HistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.alarm.AlarmActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.promiseAdd.PromiseAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.promiseActivate.PromiseActivateActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="zt8zh0x8pp" />

        <activity
            android:name=".ui.archive.ArchiveActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.pictureView.PictureViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.picture.PictureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.archive.detail.DetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.archive.highlight.HighlightActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao4416983cab300794e7e97eef97768746" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Theme.ImageCropper" />
    </application>

</manifest>